<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guia de perguntas e respostas</title>
</head>
<body>
    <h1>Portal Perguntas e Respostas</h1>
    <h4>Info:</h4>

    <ul>
        <li><%= nome %></li>
        <li><%= lang %></li>
        <li><%= empresa %></li>
        <li><%= inscritos %></li>
    </ul>
</body>
</html>